<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewic.todoscore.dao.WorkdayMapper">

    <resultMap id="Workday" type="com.lewic.todoscore.entity.Workday">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="day" jdbcType="VARCHAR" property="day"/>
        <result column="is_workday" jdbcType="INTEGER" property="isWorkday"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="list" resultMap="Workday">
        SELECT
        id,
        type,
        day,
        is_workday,
        remark
        FROM
        workday
        ORDER BY
        id
    </select>

    <select id="get" resultMap="Workday">
        SELECT
        id,
        type,
        day,
        is_workday,
        remark
        FROM
        workday
        where day=#{day,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.lewic.todoscore.entity.Workday">
        INSERT INTO workday (type,
                             day,
                             is_workday,
                             remark)
        VALUES (#{type,jdbcType=INTEGER},
                #{day,jdbcType=VARCHAR},
                #{is_workday,jdbcType=INTEGER},
                #{remark,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteWorkday" parameterType="java.lang.String">
        DELETE
        FROM workday
        WHERE day = #{day,jdbcType=VARCHAR}
    </delete>
</mapper>